/*sobre a página index*/

 .foto1 {
     flex-flow: row wrap;
     justify-content: right;
     align-items: flex-end;
 }

 .paragrafoComum {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
 }  
 
 .sobreMim{
     flex-flow: wrap row;
 }

 .tm-social {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
 }

 .centralizar{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
 }

 .centralizar2{
    display: flex;
    flex-flow: row ;
    align-content: space-between;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    align-items: center;
    text-align: justify;
 }

 .paraEsquerda{
    flex-flow:row;
    justify-content: flex-start;
    align-items:baseline;
    text-align: justify;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
 }

 #menu li {
    display: inline;
    padding: 15px;
    
 }
 
 #menu li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
 }
 
 #menu li a:hover {
    color: grey;
 }

 .p-30 {
    padding: 30px;
 }

 .p-30 {
   padding: 30px;
}

.mb-50{
    margin-bottom: 50px;
 }

/*sobre a página contato*/

.ml-30{
    margin-left: 30px;
}

.mt{
    margin-top: 100px;
}

.mt-10{
    margin-top: 10px;
}
.coluna{
    flex-wrap: wrap row;
}

.masthead {
    padding: 6em 0;
    background-image: url("https://media.giphy.com/media/iI4vhciiVh2b3j9sgo/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    border-top: solid 1em #FFCF33;
  }

  .masthead-intro {
    /* Layout Declarations */
    color:cornsilk;
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    /* Layout Declarations */
    color: #FFCF33;
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.helvetica{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}